<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <h3 class="first">Button Component</h3>
  <p-button label="Click"></p-button>
  <p-button icon="pi pi-check" label="Click"></p-button>
  <p-button icon="pi pi-check" iconPos="right" label="Click"></p-button>
  <p-button icon="pi pi-check"></p-button>
  <p-button icon="pi pi-check" [disabled]="true" label="Disabled"></p-button>
  <div class="ui-g">
    <div class="ui-g-4">Col1</div>
    <div class="ui-g-4">Col2</div>
    <div class="ui-g-4">Col3</div>
</div>
</div>